/* Global variables declarations    */
:root {
  --fntSize: 1em; /* Default font size */
  font-family: Verdana, Tahoma, sans-serif; /* Default font family */
}

:root.col {                                                             /* Colored interface palette */
  --fntSize: 1em;
  --col-ca: #496d8f;        /*  Canvas background (lcd: #a9bf94)*/
  --col-cl: #a9bf94;        /*  Canvas lines                    */
  --col-bg: #496d8f;        /*  Page background                 */
  --col-fb: #eeeeee;        /*  Fields background               */
  --col-ft: #000000;        /*  Fields text                     */
  --col-lt: #99ccff;        /*  Placeholder text (light color)  */
  --col-h1: #afcfeb;        /*  H1 text                         */
  --col-s1: #000000;        /*  H1 text shadow                  */
  --col-h2: #ffa600;        /*  H2 text                         */
  --col-sb: #912b2b;        /*  Small left buttons              */
  --col-sh: #b64747;        /*  Small left buttons hover        */
  --col-st: #ffffff;        /*  Small left buttons text color   */
  --col-lb: #ff8050;        /*  Labels (mostly Command fields)  */
  
  --col-a1: #2d5479;        /*  Darkest:   buttons              */
  --col-a2: #496d8f;        /*             buttons flyover      */
  
  --col-a3: #6d72aa;        /*             background           */
  --col-a4: #8588ac;        /*  Brightest: fieldsets background */

  --col-b3: #a470b4;        /*             background           */
  --col-b4: #ae88b9;        /*  Brightest: fieldsets background */

  --col-c3: #dc69a5;        /*             background           */
  --col-c4: #df89b5;        /*  Brightest: fieldsets background */
}
:root.bnw {                                                             /* Black on white interface palette */
  --fntSize: 1em;
  --col-ca: #000000;        /*  Canvas background               */
  --col-cl: #ffffff;        /*  Canvas lines                    */
  --col-bg: #ffffff;        /*  Page background                 */
  --col-fb: #ffffff;        /*  Fields background               */
  --col-ft: #000000;        /*  Fields text                     */
  --col-lt: #aaaaaa;        /*  Placeholder text (light color)  */
  --col-h1: #000000;        /*  H1 text                         */
  --col-s1: #ffffff;        /*  H1 text shadow                  */
  --col-h2: #000000;        /*  H2 text                         */
  --col-sb: #888888;        /*  Small left buttons              */
  --col-sh: #555555;        /*  Small left buttons hover        */
  --col-st: #ffffff;        /*  Small left buttons text color   */
  --col-lb: #000000;        /*  Labels (mostly Command fields)  */
  
  --col-a1: #666666;        /*  Darkest:   buttons              */
  --col-a2: #999999;        /*             buttons flyover      */
  
  --col-a3: #cccccc;        /*             background           */
  --col-a4: #dddddd;        /*  Brightest: fieldsets background */

  --col-b3: #dddddd;        /*             background           */
  --col-b4: #eeeeee;        /*  Brightest: fieldsets background */

  --col-c3: #eeeeee;        /*             background           */
  --col-c4: #ffffff;        /*  Brightest: fieldsets background */
}
:root.inv {                                                             /* Inverted video interface palette */
  --fntSize: 1em;
  --col-ca: #000000;        /*  Canvas background               */
  --col-cl: #a9bf94;        /*  Canvas lines                    */
  --col-bg: #000000;        /*  Page background                 */
  --col-fb: #333333;        /*  Fields background               */
  --col-ft: #ffffff;        /*  Fields text                     */
  --col-lt: #666666;        /*  Placeholder text (light color)  */
  --col-h1: #ffa600;        /*  H1 text                         */
  --col-s1: #1b1b1b;        /*  H1 text shadow                  */
  --col-h2: #ffa600;        /*  H2 text                         */
  --col-sb: #912b2b;        /*  Small left buttons              */
  --col-sh: #b64747;        /*  Small left buttons hover        */
  --col-st: #ffffff;        /*  Small left buttons text color   */
  --col-lb: #ffa600;        /*  Labels (mostly Command fields)  */
  
  --col-a1: #2d5479;        /*  Darkest:   buttons              */
  --col-a2: #496d8f;        /*             buttons flyover      */
  
  --col-a3: #4b4e74;        /*             background           */
  --col-a4: #6d72aa;        /*  Brightest: fieldsets background */

  --col-b3: #845194;        /*             background           */
  --col-b4: #a470b4;        /*  Brightest: fieldsets background */

  --col-c3: #964870;        /*             background           */
  --col-c4: #c25c91;        /*  Brightest: fieldsets background */
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--col-bg);
}

input,                                           /* accent color for user-interface controls such as inputs (radio buttons, checkboxes...) or progress bars. */
progress {
  accent-color: var(--col-a3);
}

h1 {
  cursor: pointer;
  color: var(--col-h1);
  text-shadow: -3px 0 4px var(--col-s1);
  font-size: 1.5em;
  font-weight: lighter;
}
h2 {
  color: var(--col-h2);
  text-shadow: -2px 0 2px var(--col-s1);
  font-size: medium;
  font-style: normal;
  font-weight: normal;
  margin: 0 0;
}
h3 {                                        /* Right column width, and mostly text for input field labels on the left */
  text-align: center;
  color: var(--col-h1);
  font-weight: lighter;
  font-size: small;
  margin: 7px 10px;
  text-shadow: 1px 1px 1px var(--col-s1);
}
a {
  color: var(--col-h1);
  font-style: normal;
  text-decoration: none;
  transition: color 0.2s ease, background-color 0.2s ease; /* Add background to transition*/
  display: inline-block; /* Needed for padding and background */
  padding: 2px 5px;    /* Add padding for a better look */
  border-radius: 4px;  /* Optional: rounded corners */
}

a:hover {
  color: var(--col-a1);
}

/* Large text areas for command strings (careful: margin have to be inverted here) --------------------------------------------------------*/
select,
textarea {
  border: 1px solid var(--col-h2);
  background-color: var(--col-fb);
  color: var(--col-ft);
  font-size: var(--fntSize);
  width: 100%;
  height: 60px;
  padding: 6px 6px;
  display: inline-block;
  border-radius: 6px;
  box-sizing: border-box;
}

label {                                        /* Input field labels (mostly top Commands panel) */
  color: var(--col-lb);
  font-size: 0.9em;
  text-shadow: 1px 1px 1px var(--col-s1);
  display: inline-block;
}

input[type="submit"] {                                      /* Large main buttons */
  font-size: 0.8em;
  background-color: var(--col-a1);
  box-shadow: 1px 1px 3px var(--col-s1);
  color: var(--col-st);
  margin: 0 8px;
  padding: 6px 20px;
  margin: 0px 0px 2px 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type="submit"]:hover {
  background-color: var(--col-a2);
}

input.small {                                      /* Small buttons */
  background-color: var(--col-sb);
  font-size: 0.8em;
  height: 20px;
  color: var(--col-st);
  margin: auto;
  padding: 0px 0px 0px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: none;
}
input.small:hover {
  background-color: var(--col-sh);
}

/* Mini buttons used at the top and in Broadlink signal types*/
input.minib {
  font-size: 0.6em;
  padding: 0px 0px 0px 0px;
  width: 20px;
  height: 20px;
  margin: 0px 3px;
  vertical-align: top;
  float: none;
  transform: translateY(-2px);
}
/* New subclass for minib buttons that should NOT be moved up */
input.notranslate {
  transform: none; /* Reset the transform */
}






/* Common widths used --------------------------------------------------------------------------------------------------------------- */
.button-mini { width: 40px; }
.button-medium { width: 60px; }
.button-large { width: 200px; }
.input-small  { width: 70px;  }
.input-medium { width: 100px; }
.input-xlarge { width: clamp(100px, 70%, 230px); }
.input-xxlarge { width: clamp(180px, 63%, 354px); }

/* Background colors for panels --------------------------------------------------------------------------------------------*/
.command-panel-color {background-color: var(--col-a3);}
.pronto-panel-color {background-color: var(--col-b3);}
.decimal-panel-color {background-color: var(--col-c3);}
.raw-panel-color {background-color: var(--col-a3);}
.tuya-panel-color {background-color: var(--col-a2);}
.broadlinkHex-panel-color {background-color: var(--col-b3);}
.broadlinkB64-panel-color {background-color: var(--col-c3);}
.canvas-panel-color {background-color: var(--col-ca);}

/* Background colors for subpanels -----------------------------------------------------------------------------------------*/
.command-subpanel-color {background-color: var(--col-a4);}
.pronto-subpanel-color {background-color: var(--col-b4);}
.decimal-subpanel-color {background-color: var(--col-c4);}
.raw-subpanel-color {background-color: var(--col-a2);}
.tuya-subpanel-color {background-color: var(--col-a3);}
.broadlinkHex-subpanel-color {background-color: var(--col-b4);}
.broadlinkB64-subpanel-color {background-color: var(--col-b3);}





/* Containers */


/* Responsive layout - when screen is less than 600px wide, make the two columns stack on top of each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
/* Thin top panels ------------------------------------------------------------------------------------------------------------------------- */
.top-container {
  border: 1px solid var(--col-b2);
  box-shadow: 5px 5px 10px var(--col-s1);
  border-radius: 8px;
  margin: 0px 10px 10px 10px;
  float: right;
  display: flex;
  align-items: center;
  padding: 0 8px 0 5px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
/* Colors for each panel */
.top-container.panels {
  background-color: var(--col-b4);
}
/* Position of Help links */
.top-container a {
  transform: translateY(-4px);
}
.top-container.help {
  background-color: var(--col-a2);
  height: 30px;
}
.top-container.themes {
  background-color: var(--col-c4);
  padding-right: 12px;
}
.top-container-fontsize {
  width: auto;
  margin-right: 10px;
  background-color: var(--col-c4);
  text-align: center;
}
/* 1st Container: colored round box for each main category panel ---------------------------------------------------------- */
.container {
  /*border:2px solid yellow;*/
  box-shadow: 5px 5px 10px var(--col-s1);
  border-radius: 8px;
  padding: 0px 5px 1px 5px;
  margin: 0px 5px 5px 5px;
}
/* Invisible container inside panels ---------------------------------------------------------------------------------------*/
form {
  border: none; /* uneeded */
  /*border:2px solid black;*/
  margin: 6px 2px 4px 4px;  /* Top, right, bottom, left*/
}
.row {
  /* border: 2px solid blueviolet;*/
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 10px; /* Empty space between panels */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Left column width, and mostly text for input field labels on the left; 'Hz', 'Repeats'... */
.col-25 {
  /* border:2px solid green;*/
  width: 16%;
  font-size: small;
  font-style: italic;
  float: left;
}
/* Right column width */
.col-75 {
  /* border:2px solid red; */
  width: 83%;
  font-size: small;         /* Label texts for 'Short', 'Command'...*/
  float: right;
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Space between elements */
}
/* Invisible horizontal rectangles to organize elements used in col-75 in rows (lines) */
.line-row {
  /* border: 1px solid white; */
  width:100%;
  display: flex;
  justify-content: space-between;
}






/* Small text areas for Commands and Hz or Repeat on the left (type="number" adds the up-down arrows to shift values) -----*/
input.transparent, input.number {
  background-color: var(--col-fb);
  color: var(--col-ft);
  border: 1px solid var(--col-sh);
  height: 1em;
  padding: 12px 10px;
  margin: 4px 0;
  display: inline-block;
  border-radius: 0px;
  box-sizing: border-box;
}

/* Small frames under Broadlink containing IR/RF radio buttons & controls -------------------------------------------------*/
.fieldset1 {
  border: 1px solid var(--col-a1);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  width: 260px;
  height: 30px;
  font-size: 0.8em;
}
/* Left Frames containing Hz frequencies or Repeat values ---------------------------------------------------------------*/
.fieldset2 {
  border: 1px solid var(--col-a1);
  border-radius: 8px;
  padding: 5px 5px;
  margin: 0;
  font-size: 1em;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
}
/* Style for the label/input pairs - make them flex items */
.fieldset2 > div {                /* Direct child selector (more efficient) */
  display: flex;                  /* Make each div a flex container */
  align-items: center;            /* Vertically center label and input */
  justify-content: center;        /* Push label to left, input to right */
}
.fieldset2 > div > label{
  font-size: 0.9em;
  flex-shrink: 0;                 /* label do not shrink*/
  padding-right: 5px;            /* Keep some space before input field */
}
/* Label style for RF / IR Broadlink radio buttons */
.fieldset2 .button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 4px;
}
/* Different widths for the left inputs */
.fieldset2 input.freq-input {width: 7em;}
.fieldset2 input.repeat-input {width: 5em;}
.fieldset2 input.length-input {width: 4em;}








label.mini {
  font-size: 1em;
  margin-bottom: 1px;
  margin-top: 1px;
  padding: 2px 3px;
  vertical-align: text-bottom;
  font-weight: lighter;
  color: var(--col-h2);
  text-shadow: 0px 0px 5px var(--col-s1);
}
/* message() function animation - see https://www.w3schools.com/cssref/css3_pr_animation-keyframes.asp --------------------- */
@keyframes messageAnim {
  0% {
    bottom: 100px;
    left: 200px;
    right: 200px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    left: 50px;
    right: 50px;
    opacity: 1;
  }
}
.closebutton {
  font-size: small;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  outline: none;
  color: var(--col-ft);
  float:right;
  padding: 0;
  margin: 0;
}


#signalCanvas {
  display: block;                   /* avoids space below canvas */
  width: 95%;                       /* S'adapte au conteneur */
  height: 50px;                     /* Hauteur fixe */
  color: var(--col-ft);             /* lcd style */
  background-color: var(--col-ca); 
  border: none;                     /* would exceed rounded container */
  margin-left: auto; 
  margin-right: auto;
}